body{
    background-color: rgb(2, 55, 101);
}
.men{
    text-align: center;
    background-color: rgb(95, 33, 17);
    color: aliceblue;
    margin: 0 auto;
    width:700px;
    padding: 5px;

}
.sen{
    width: 800px;
    margin:0 auto;
    background-color: black;
    border: 5px solid red;
    border-radius: 9px;
    padding: 50px;
}
.ular{
    padding: 30px;
    background-color: aqua;
}
.pn{
    padding: 30px;
    background-color: aqua;

}
